.container{
    position: fixed;
    top: 0;
    left: 0;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
#lang_drop{
    padding-left: 10px;
}

.results{
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100px;
    min-width: 100px;
    margin-left: 1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
#event_result{
    display: block;
    background-color: #D9EDF7;
}
.row{
    display: flex;
}
#ontology{
    display: flex;
    height: 35px;
    background-color: #428BCA;
    border-color: #357ebd;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
}
#lang{
    padding-left: 5px;
}
#description{
    padding-left: 8px;
}
#relation{
    padding-left: 5px;
}
#source{
    padding-left: 10px;
}
#source>a{
    color: #FFFFFF;
}
img{
    height: 20px;
}
.img_apps{
    height: 40px;
}
.img_apps_first{
    height: 60px;
    padding-right: 20px;
}
.logo{
    height: 40px;
}
.btn-logo{

}