body, html {
    font-family: sans-serif;
}
.container{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}
.tools{
    display: block;
}
.scrollable-menu{
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
img{
    height: 20px;
}
#dropdown_transl_ul>li{
	display: list-item;
}
#lang_drop{
    padding-left: 10px;
}
.extra{
	position: fixed;
    right: 0;
    top: 0;
    min-height: 100px;
    min-width: 100px;
    margin-left: 1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
#dropdown_lang_ul{
	left: -35px;
}
.writing_tool{
	margin-top: 20px;
	padding-left: 2px;
}
.ui-autocomplete{
	
	border:1px solid #999;
	border-radius: 15px;
	background:#FFF;
	cursor:default;
	text-align:left;
	max-height:280px;
	width: 400px!important;;
	overflow:auto;
	position: fixed;
    display: none ;  
    top:30%;
    padding: 6px;
    margin-bottom: 10px;
}

.ui-state-focus{
	font-weight: bold;
}

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}
 
.ui-autocomplete li {
    font-size: 12px;
}
.ui-menu-item a {
	color: #000000;
}